{% extends 'base.html' %}

{% block title %}{{ category.name }} - RR Handmade{% endblock %}

{% block content %}
<h2>{{ category.name }}</h2>
<div class="gifts">
    {% for product in products %}
        <div class="gift">
            <a href="{{ url_for('product', product_id=product.id) }}">
                <img src="{{ product.image_url }}" alt="{{ product.name }}">
                <p>{{ product.name }}</p>
                <p>{{ product.price }}</p>
            </a>
        </div>
    {% endfor %}
</div>
{% endblock %}
