{% extends 'base.html' %}

{% block title %}Home - RR Handmade{% endblock %}

{% block content %}
<section class="highlights">
    <h2>Small shops make every moment more special!</h2>
    <div class="highlights-menu">
        <a href="#">Gifts for Dad</a>
        <a href="#">Barware</a>
        <a href="#">Greeting Cards</a>
        <a href="#">Summer Clothing</a>
        <a href="#">Kids Activities</a>
        <a href="#">Up to 30% Off</a>
    </div>
</section>
<section class="popular-gifts">
    <h2>Popular gifts right now</h2>
    <div class="gifts">
        <div class="gift">
            <p>Hummingbird stained glass window hangings</p>
        </div>
        <div class="gift">
            <p>Personalized travel jewelry box</p>
        </div>
        <div class="gift">
            <p>Mothers Gift Box</p>
        </div>
        <div class="gift">
            <p>Dainty Birth Flower Necklace</p>
        </div>
        <div class="gift">
            <p>Personalized Refillable Portfolio</p>
        </div>
    </div>
</section>
{% endblock %}
